
@{
    ViewData["Title"] = "Get";
}



<div class="text-center">
    @if (ViewBag.OrderItem.Id > 0)
    {
        <h1 class="display-5">Детали компонента @ViewBag.OrderItem.Id заказа № @ViewBag.OrderItem.OrderId</h1>
        <br />

        <table class="table col-8">
            <tbody>
                <tr>
                    <td></td>
                    <td>Название</td>
                    <td>@ViewBag.OrderItem.Name</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Количество</td>
                    <td>@ViewBag.OrderItem.Quantity</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Единицы измерения</td>
                    <td>@ViewBag.OrderItem.Unit</td>
                </tr>
        </table>
    }
    else
    {
        <h3>Not found</h3>
    }
</div>

<br />
<br />


<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>
