@model OrdersApp.Web.Models.Orders.CreateOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Добавить заказ</h2>



<form asp-controller="Order" asp-action="Create" Method="post" asp-antiforgery="true">

    <br />
    <div class="col-6">
        <label asp-for="@Model.Number" class="form-label"></label>
        <input asp-for="@Model.Number" type="text" class="form-control" id="inputNumber" aria-describedby="NumberHelp">
        <span asp-validation-for="@Model.Number"></span>
        <div id="NumberHelp" class="form-text">Введите наименование заказа</div>
    </div>
    <br />
    <div class="col-6">
        <label asp-for="@Model.ProviderId" class="form-label"></label>
        <select class="form-control" multiple asp-items="@(new SelectList(ViewBag.Providers, "Id", "Name"))"
                asp-for="@Model.ProviderId" id="inputProvider" aria-describedby="ProviderHelp">
        </select>
        <span asp-validation-for="@Model.ProviderId"></span>
        <div id="ProviderHelp" class="form-text">Выберите поставщика</div>
    </div>
    <br />
    <div class="col-6">
        <label asp-for="@Model.Date" class="form-label"></label>
        <input asp-for="@Model.Date" type="date" class="form-control" id="inputDate" aria-describedby="DateHelp" />
        <span asp-validation-for="@Model.Date"></span>
        <div id="DateHelp" class="form-text">Выберите дату создания заказа</div>
    </div>
    <br />
    <div class="col-6">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
<br />
<br />
